(
A,
Aacute,
Abreve,
Acaron,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Cdotaccent,
D,
Dcaron,
Dcroat,
Eth,
E,
Eacute,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
F,
G,
Gbreve,
Gcommaaccent,
Gdotaccent,
H,
Hbar,
I,
IJ,
Iacute,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
J,
K,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
Eng,
O,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scommaaccent,
Germandbls,
T,
Tcaron,
Tcommaaccent,
U,
Uacute,
Ubreve,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Z,
Zacute,
Zcaron,
Zdotaccent,
Adieresis.ss01,
Cdotaccent.ss01,
Edieresis.ss01,
Edotaccent.ss01,
Gcommaaccent.ss01,
Gdotaccent.ss01,
Idieresis.ss01,
Idotaccent.ss01,
Kcommaaccent.ss01,
Lcommaaccent.ss01,
Ncommaaccent.ss01,
Odieresis.ss01,
Rcommaaccent.ss01,
Scommaaccent.ss01,
Tcommaaccent.ss01,
Udieresis.ss01,
Ydieresis.ss01,
Zdotaccent.ss01,
M.ss03,
Q.ss05,
R.ss09,
Racute.ss09,
Rcaron.ss09,
Rcommaaccent.ss09,
G.ss10,
Gbreve.ss10,
Gcommaaccent.ss10,
Gdotaccent.ss10,
Gcommaaccent.ss01.ss10,
Gdotaccent.ss01.ss10,
a,
aacute,
abreve,
acaron,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
cdotaccent,
d,
dcaron,
dcroat,
eth,
e,
eacute,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
f,
g,
gbreve,
gcommaaccent,
gdotaccent,
h,
hbar,
i,
idotless,
iacute,
icircumflex,
idieresis,
idotaccent,
igrave,
imacron,
iogonek,
ij,
j,
jdotless,
k,
kcommaaccent,
l,
lacute,
lcaron,
lcommaaccent,
lslash,
m,
n,
nacute,
ncaron,
ncommaaccent,
ntilde,
eng,
o,
oacute,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
s,
sacute,
scaron,
scedilla,
scommaaccent,
germandbls,
t,
tcaron,
tcommaaccent,
u,
uacute,
ubreve,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ygrave,
z,
zacute,
zcaron,
zdotaccent,
adieresis.ss01,
cdotaccent.ss01,
edieresis.ss01,
edotaccent.ss01,
gcommaaccent.ss01,
gdotaccent.ss01,
i.ss01,
idieresis.ss01,
idotaccent.ss01,
iogonek.ss01,
ij.ss01,
j.ss01,
kcommaaccent.ss01,
lcommaaccent.ss01,
ncommaaccent.ss01,
odieresis.ss01,
rcommaaccent.ss01,
scommaaccent.ss01,
tcommaaccent.ss01,
udieresis.ss01,
wdieresis.ss01,
ydieresis.ss01,
zdotaccent.ss01,
a.ss02,
aacute.ss02,
abreve.ss02,
acaron.ss02,
acircumflex.ss02,
adieresis.ss02,
agrave.ss02,
amacron.ss02,
aogonek.ss02,
aring.ss02,
atilde.ss02,
f.ss04,
t.ss04,
tcaron.ss04,
tcommaaccent.ss04,
adieresis.ss01.ss02,
tcommaaccent.ss01.ss04,
f_f_i,
f_f_l,
f_i,
f_l,
w_w_w.liga,
f_f_i.ss01,
f_i.ss01,
ordfeminine,
ordmasculine,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
two.ss06,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
two.tf.ss06,
space,
nbspace,
.notdef,
hyphen_greater.liga,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
colon.case,
semicolon.case,
exclam.case,
exclamdown.case,
question.case,
questiondown.case,
bullet.case,
periodcentered.loclCAT,
period.ss01,
comma.ss01,
colon.ss01,
semicolon.ss01,
ellipsis.ss01,
exclam.ss01,
exclamdown.ss01,
question.ss01,
questiondown.ss01,
periodcentered.ss01,
bullet.ss01,
periodcentered.loclCAT.case,
bullet.case.ss01,
periodcentered.loclCAT.case.ss01,
hyphen,
endash,
emdash,
underscore,
hyphen.case,
endash.case,
emdash.case,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
quotesinglbase.ss01,
quotedblbase.ss01,
quotedblleft.ss01,
quotedblright.ss01,
quoteleft.ss01,
quoteright.ss01,
less_hyphen.liga,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
ampersand.ss07,
cent,
dollar,
euro,
sterling,
yen,
cent.ss08,
dollar.ss08,
plus,
minus,
multiply,
divide,
equal,
greater,
less,
asciitilde,
asciicircum,
percent,
perthousand,
plus.tf,
minus.tf,
multiply.tf,
divide.tf,
equal.tf,
greater.tf,
less.tf,
percent.tf,
perthousand.tf,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
commaturnedabovecomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
dieresiscomb.ss01,
dotaccentcomb.ss01,
commaturnedabovecomb.ss01,
commaaccentcomb.ss01,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
dieresis.ss01,
dotaccent.ss01,
fungitype
)