{
displayStrings = (
"Na široké pláni podél řeky se pasou stáda žluťoučkých koní,
jejichž hřívy se třpytí v odpoledním slunci. Čerstvý vánek
přináší vůni pečených jablek a vzdáleného deště, zatímco
drobné vlnky čeří hladinu. Lidé v městečku na návrší si užívají
podzimní pohodu – děti běhají po dvorku, ženy věší prádlo na
šňůry a muži diskutují o sklizni.",
"‘",
"“",
"",
"/R.ss09",
"̂Â",
"̌",
"̂",
c,
g,
e,
sa,
a,
"",
RRP,
"̋ő",
"Ahoj, já sem extra bold ",
RGB,
Ss,
CGJSceg
);
}
